* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: solid red 1px;
}

.spacer {
    height: 20vh;
}

.hero-row {
    margin-top: 20%;
}

.home-page-row-btns {
    min-width: 100px;
}