* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: solid red 1px;
}

.cust-nav-link {
    color: black
}

.spacer {
    height: 20vh;
}

.hero-title {
    font-size: 3rem;
}

.hero-subtitle {
    font-size: 1rem;
}

.hero-row {
    margin-top: 20%;
}

.home-page-row-btns {
    min-width: 100px;
}