* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid red 1px; */
}

body {
    padding-top: 70px
}

.cust-nav-link {
    color: black
}


.hero-title {
    font-size: 5rem;
}

.hero-subtitle {
    font-size: 2rem;
}

.hero-row {
    margin-top: 20%;
}

.home-page-row-btns {
    min-width: 100px;
}